<div class="jumbotron">
    <h1>XpertGroup</h1>
 </div>
<div class="row">
    <div class="row">
        <h1 style="text-align: center">Cube Summation</h1>
    </div>
    <div class="row">
        <div class="six columns">
            <h3>Ingresa el input:</h3>
            <textarea style="height:250px;" name="input" id="input" cols="40" rows="30"></textarea><br><br>
            <button class="btn btn-primary" onclick="initProcessData(document.querySelector('#input').value)">Procesar</button>
            <p style="color: red" name="error" id="error">
        </div>
        <div class="six columns">
            <h3>Output:</h3>
            <p name="output" id="output">
        </div>
    </div>
</div>
